@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap');

:root{
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza-claro: #E4E4E4;
    --cinza: #202020;
    --escuro: #21222C;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: var(--cinza);
}